@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Questrial");

:root {
  --bg-color: rgb(10, 10, 10);
  --text-color: #fff;
  --blog-gray-color: rgb(180, 180, 180);
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.3),
      rgb(10, 10, 10, 1)
    ),
    url("./background.jpg");
  --background-background: linear-gradient(
      0deg,
      rgba(10, 10, 10, 1),
      rgba(10, 10, 10, 0.6)
    ),
    url("./background.jpg") center center fixed;
  --height: 50vh;
}

#info, #home {
	float:none;
	width:100%;
}

@media screen and (min-width: 800px) {
	#info, #home {
		float:left;
		width:50%;
	}
}

@media screen and (min-width: 1025px) {
	#info, #home {
		float:left;
		width:33%;
	}
}

.footer {
  background-color: width;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100px;
  clear: both;
  background-image: url("./background.jpg");
  height: 100%;
}

.navbar {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1rem;
}
