@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Questrial");

:root {
  --bg-color: rgb(10, 10, 10);
  --text-color: #fff;
  --blog-gray-color: rgb(180, 180, 180);
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.3),
      rgb(10, 10, 10, 1)
    ),
    url("./background.jpg");
  --background-background: linear-gradient(
      0deg,
      rgba(10, 10, 10, 1),
      rgba(10, 10, 10, 0.6)
    ),
    url("./background.jpg") center center fixed;
  --height: 50vh;
}

#info, #home, #index  {
	float:none;
	width:95%;
}

.footer {
  background-color: white;
  background-position: bottom center;
  background-repeat: no-repeat;
  clear: both;
  background-image: url("./assets/background.jpg");
}

.navbar {
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
	align-items: center;
	display: -ms-flexbox;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: .5rem 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: auto;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 35px;
  transition: 1s;
}

.sidenav a {
  padding: 0px 8px 0px 2rem;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.backgroundInicio {
	height: 241px;
	background-repeat: no-repeat;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), url("./assets/backgroundInicio.jpg");
	box-shadow: 10px 10px 5px grey;
	padding-left: 50px;
}

.text-centrado {
   padding: 100px 0;
   text-align: center;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

.eliminar {
	font-size:25px;
	cursor:pointer;
}
