@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Questrial");


:root {
  --bg-color: rgb(10, 10, 10);
  --text-color: #fff;
  --blog-gray-color: rgb(180, 180, 180);
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.3),
      rgb(10, 10, 10, 1)
    ),
    url("./background.jpg");
  --background-background: linear-gradient(
      0deg,
      rgba(10, 10, 10, 1),
      rgba(10, 10, 10, 0.6)
    ),
    url("./background.jpg") center center fixed;
  --height: 50vh;
}

#profile {
	background: url("https://avatars3.githubusercontent.com/u/6732307?v=4") center;
}

.footer {
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 300px;
}